# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\prg\Telegram\bot_telegram_solo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
